#root {
	height: 100%;
}

.app-wrapper {
	height: 100%;
}

.homepage-wrapper {
	width: 30%;
	margin: auto;
	margin-top: 15%;
}

.search-content-wrapper {
	width: 75%;
	margin: auto;
	margin-top: 5%;
}

.logout-button-wrapper {
	display: flex;
	justify-content: center;
	margin: 5px;
}

.entry-form {
    width: 30%;
    float: left;
    padding: 20px;
}

.result-table {
	width: 70%;
    float: left;
    padding: 20px;
}