#root {
	height: 100%;
}

button {
	cursor:pointer;
}

.app-wrapper {
	height: 100%;
	/*background-color: #403c3c;
	color: white;*/
}

.homepage-wrapper {
	width: 30%;
	margin: auto;
	margin-top: 15%;
}

.search-content-wrapper {
	width: 90%;
	margin: auto;
	margin-top: 3%;
	overflow:hidden;
	/* background-color: #403c3c; */
}


/*.entry-form {
     width: 25%;
     float: left;
    padding: 10px;
    position: fixed; 
	border: 2px solid lightblue;
	
}*/

.top-bar {
	margin: auto;
	width: 100%;
	padding: 1px;
}

.top-bar-light {
	background-color:white
}

.top-bar-dark {
	background-color: #343434;
}

.logout-button-wrapper {
	display: flex;
	justify-content: center;
	margin: 5px;
	float:center;
}

.toggle-dark {
	float:left;
}

.form-sidebar label {
	font-size: 20px;
    font-weight: 500;
    background-color: lightblue;
}



.result-table {
	width:70%;
    /* float: right;*/ 
    padding: 10px;
	border: 2px solid lightblue;
}

.buttonText {
	/* color: #4285f4; */
	color: black;
	font-weight: bolder;
  }

.logo {
	height: 2.8em;
	width: 2.5em;
  }

.landing-page {
	background-color: black;
	color: white;
	padding-bottom: 600px;
  }

.landing-title {
	color: white;
}

  .land-grid ul{
	display: grid;
	grid-auto-flow: column;
	padding: 10px;
	justify-items: start;
	list-style:none;
  }
  
  .landing-container1 {
	background-image:"media.png";
	width:100%;
	position: relative;
	display: inline-block;
  }
  
  .landing-top-text {
	position: absolute;
	height: 100%;
	text-align: center;    
	width: 100%;
  }

  .landing-top-text h1{
	font-size: 40px;
  }

  .landing-top-text p{
	font-size: 18px;
  }
  
  .landing-container2 {
	width:100%;
	position: relative;
	display: inline-block;
  }
  
  .landing-bot-text {
	position: absolute;
	text-align: center; 
	height: 100%;
	width: 100%;
  }
  
  .landing-background1 {
	height: 75%;
	width: 45%;
  }
  
  .landing-background2 {
	width: 100%;
	padding-bottom: -100px;
  }